{% extends 'base.html' %}

{% block content%}

<div class="col" style="margin-top: 2%;">
    <h2><p style="text-align:center;">10 Tips to Achieve the Gainz You Deserve</p></h2>

</div>

<div class="row" style="margin-left: 17%; font-size:1.5rem;">
    <ul>
        <li>Consistency is Key</li>
        <li>Gainz also happens in the kitchen</li>
        <li>It's okay to take breaks</li>
        <li>Have realistic goals</li>
        <li>Make sure you drink your water</li>
        <li>Get enough sleep</li>
        <li>Challenge yourself with progressive overloading</li>
        <li>Avoid alcohol and smoke</li>
        <li>Be patient</li>
        <li>Overtrain is overkill</li>
    </ul>
</div>
{% endblock %}