{% extends 'base.html' %}

{% block content %}
<!doctype html>
<style type='text/css'>
  body {
    background-color: white
  }
  header{
  background-color: lightblue
  }

  h1 {
    color: lightblue;
  }
  
  h2 {
    color: white;
  }
</style>

<header style="height: 50px; width: 100%; background-color: lightblue; text-align: center;">
 <h1 style="color: white;">Profile Information</h1>
</header>

<aside>
	<p>User:</p>
    <p>Here you can view your login information and logout.</p>
</aside>


<section>
  <h1>Username</h1>
  <p>{{ current_user.name}}</p>

</section>

<section>
  <h1>Email</h1>
  <p>{{ current_email}}</p>

</section>

<section>
  <h1>Password</h1>
  <p>{{ current_password}}</p>



<article>
  <h1>Account Resources</h1>
  <p>Make your account secure!</p>
</article>

<nav>
  <ul>
    <li><a href="https://its.lafayette.edu/policies/strongpasswords/#:~:text=Tips%20for%20keeping%20your%20password%20secure%201%20Change,example%2C%20in%20an%20Internet%20caf%C3%A9.%20More%20items...%20">Guidelines for Strong Passwords</a></li>
    <li><a href="https://www.metlife.com/stories/work-family/tips-to-protect-your-passwords-online/">10 Tips to Protect Your Passwords Online</a></li>
    <li><a href="https://www.mcafee.com/blogs/internet-security/10-tips-stay-safe-online/">10 Tips To Stay Safe Online</a></li>
  </ul>
</nav>

<footer style="width: 100%; height: auto; border: 1px solid;">
      <div class="card-footer text-center">
        Log out of account? <a href="{{ url_for('login') }}">Sign out</a><br/>
      </div>
            <div class="card-footer text-center">
        Back to home? <a href="{{ url_for('login') }}">Home</a><br/>
    </div>
  </div>
  <h2></h2>
  <p></p>
</footer>

<style>
  header, footer {
      padding: 1em;
      color: white;
      background-color: lightblue;
      clear: left;
      text-align: center;
  }
</style>

{% endblock %}