{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

  <!-- Spacing between navbar and card -->
  <div class="row" style="margin-top:2.5%">

    <div class="offset-md-4 col-md-4">
      <div class="card">
        <div class="card-header text-center">
          <h1>New Workout Session</h1>
        </div>
        <div class="card-body">

          <form action="" method="post">
            {{ form.hidden_tag() }}

              <!-- title -->
              <div class="form-group" style="margin-bottom:0px;">
                {{ form.title.label }} <br>
                {{ form.title(class="form-control") }} <br>
                {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <!-- work interval -->
              <div class="form-group" style="margin-bottom:0px;">
                {{ form.workInterval.label }} <br>
                {{ form.workInterval(class="form-check-label") }} <br>
                {% for error in form.workInterval.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <!-- rest interval -->
              <div class="form-group" style="margin-bottom:0px;">
                {{ form.restInterval.label }} <br>
                {{ form.restInterval(class="form-check-label") }} <br>
                {% for error in form.restInterval.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <!-- Workouts -->
              <div class="form-group" style="margin-bottom:0px;">
                {{ form.workoutBlock.label }} <br>
                {{ form.workoutBlock(class="form-control") }} <br>
                {% for error in form.workoutBlock.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>

              <!-- Submit Button -->
              {{ form.submit(class="btn btn-primary", style="width:100%;") }}

          </form>

        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
