<!--Lance Fairbanks LJF19A
    The program in this file is the individual work of Lance Fairbanks-->

<html>
   <body>
      
      <form action = "{{ url_for('addWorkout') }}" method = "POST">
<h3>Register</h3>

	Name<br>
	<input name="Name:" type="text" maxlength="40"/><br>  
	
	Type<br>
	<input name="Type:" type="text" maxlength="50"/><br>
	
	Exercises<br>
	<input name="Exercises:" type="text" maxlength="50"/><br>

<br><input type="submit" value="submit" /></form><br>

<a href="/">Back</a>
      </form>
      
   </body>
</html>
